body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to right,  rgba(95, 3, 3, 1), rgb(95, 3, 3));
  background-repeat: no repeat;
  background-size: cover;
  color:white;
  height:100%;
}
.welcome{
  text-align: center;
  margin-top: 150px;
}
@keyframes welcome{

 }
.signin{
  margin-top: 60px;
}
.login{
  margin-top: 60px;
}
.label{
  margin-top: 10px;
  color:white;
}
.list-item{
  color:white;
}
.home{
  color:white;
  font-weight: 700;
  font-size: 20px
  
}
.dashboard{
  color:white;
}
p{
  color:white;
}
.links{
  text-decoration: none;
  color: white;
}
